<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="css/style.css">
    <title>Document</title>
</head>
<body>
    <div class ="box" id = "heading">
        <h1><%= listTitle %></h1>
        <h1> Today is <%= day %> </h1>
        
    </div>

    <div class ="box" id = "item">
    
    <form action="/" method="post">
        <input class = "item" type="text" name="do" id="" placeholder="What to do next?">
        <button type="submit" name="list" value=<%= listTitle %>>Add</button>
    </form>

    </div>


</div class = "box">
<% for(var i=0; i<todo.length; i++) {%>
    <div class ="box" id = "footer">
   
    
       

        <input class = checking type="checkbox"> 
        <span> <%=  todo[i]  %> </span> 
    </div>
    <% } %>
</body>
</html>